{% extends "layout.html" %}
{% block title %}
Home - Bye
{% endblock %}
{% block content %}
<p>Our first and hopefully <b>THE LAST</b> timak cloud end-point service :)</p>
<p>To see more about us check our <a href="http://team08-20.studenti.fiit.stuba.sk"><b>website</b></a></p>
<p>
	{% with messages = get_flashed_messages(category_filter=["response"]) %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<form method="post" action="/uploader" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>

<form method="get" action="/files" enctype="multipart/form-data">
    <p>
		<input type="submit" value="Show files">
	</p>
</form>
<p>
	{% with files = get_flashed_messages(category_filter=["files"]) %}
	  {% if files %}
		<ul class=flashes>
		{% for file in files %}
		  <li>{{ file }}</li>
	      <a href="/get_file/{{ file }}">Download</a>
			<hr>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
{% endblock %}
