certifi
chardet
click
cycler
decorator
Flask
future
greenlet
idna
itsdangerous
Jinja2
kiwisolver
lxml
MarkupSafe
matplotlib
numpy
obspy
pandas
Pillow
pyparsing
python-dateutil
pytz
requests
scipy
similaritymeasures
six
SQLAlchemy
tk
urllib3
Werkzeug
