Flask
tk
obspy
certifi
chardet
click
cycler
decorator
future
greenlet
idna==3.0
itsdangerous
Jinja2
kiwisolver
lxml
MarkupSafe
matplotlib
numpy
pandas
Pillow
pyparsing
python-dateutil
pytz
requests
scipy
similaritymeasures
six
SQLAlchemy
urllib3
Werkzeug
